@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: bisque;
}

.home-holder {
    width: 100%;
    padding: 20px;
}

.hold {
    background-color: #333;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.holder h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: chartreuse;
}

.holder p {
    font-size: 1.1rem;
    color: grey;
    margin-top: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.awards-detail {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.awards-detail h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.awards-detail img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.awards-detail p {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0;
}

.footer-detail {
    background-color: #333;
    color: white;
    text-align: center;
}

.footer-detail p {
    font-size: smaller;
    padding: 0px 50px;
    color: grey;
}

.footer-detail span {
    font-size: 1.4rem;
    font-weight: bold;
    color: chartreuse;
}

/* Centered "Back to Home" link */
center a {
    font-size: small;
    color: #ff686b;
    margin: 30px 0px;
    display: inline-block;
}

center a:hover {
    color: #e05252;
    transition: color 0.3s ease;
}

/* Responsiveness */
@media (max-width: 768px) {
    .awards-detail img {
        width: 100%;
        height: auto;
    }
}